@{
    ViewData["Title"] = "TeacherHomepage";

}
@section Styles{
        <link rel="stylesheet" href="~/css/MenuStyle.css" />
        <link rel="stylesheet" href="~/css/TeacherHomepageStyle.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<section>
    <!--Section of the whole page-->
    <div class="page">

        <!--Section of the side navigation menu-->
        <div class="sidenav">

            <!--Section of image-->
            <div class="profile_image">
                <picture>
                    <img src="@Url.Content("~/images/teacher_symbol.png")" alt="User" class="icons">
                </picture>
            </div>

            <!--Section of menu's options-->
            <div class="options">
                <a href="#">
                    <img src="@Url.Content("~/images/home.png")" alt="User" class="icons">
                    Homepage
                </a>
                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/grade.png")" alt="User" class="icons">
                    My Grading
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-controller="Professors" asp-action="GradesList" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/card.png")" alt="User" class="icons">Graded Courses</a>
                    <a asp-controller="Professors" asp-action="EnterGrades" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/pending.png")" alt="User" class="icons">Submit grades</a>
                </div>
                <a asp-controller="Professors" asp-action="Profile" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/user_green.png")" alt="User" class="icons">Profile</a>
                <a class="logout" asp-controller="Home" asp-action="Login">
                    <img src="@Url.Content("~/images/logout.png")" alt="User" class="icons">Logout
                </a>
            </div>

        </div>


        <!--Section of homepage's main content-->
        <div class="main_content">
            <div class="upper_container">

                <div class="upper_container_left">
                    <h2 class="title">Submit grades faster!</h2>
                    <div class="subtitle">
                        The easiest way to submit grades for all your courses and review grades classes!
                    </div>
                </div>
                <div class="upper_container_right">
                    <img src="@Url.Content("~/images/woman.png")" alt="User" class="icons">

                    
                </div>
            </div>
            <div class="down_container">
                <!--Section of graded courses-->
                <div class="option">
                    <picture>
                        <img src="@Url.Content("~/images/card_logo.png")" alt="User" class="icons">
                    </picture>
                    <div class="option_text">
                        <h3>Every graded course contains:</h3>
                        <div class="contains">
                            <img src="@Url.Content("~/images/tick.png")" alt="User" class="icons">
                            Final grade
                        </div>
                        <div class="contains">
                            <img src="@Url.Content("~/images/tick.png")" alt="User" class="icons">
                            Semester
                        </div>
                        <div class="contains">
                            <img src="@Url.Content("~/images/tick.png")" alt="User" class="icons">
                            Student's name
                        </div>
                        <div class="contains">
                            <button class="redirct-btn">View my graded courses</button>
                        </div>
                    </div>
                </div>
                <!--Section for new grades submission-->
                <div class="option">
                    <picture>
                        <img src="@Url.Content("~/images/pending_logo.png")" alt="User" class="icons">
                    </picture>
                    <div class="option_text">
                        <h3><p>Some exams are <b>pending</b> to be graded...</p></h3>
                        <div class="contains_img">
                            <img src="@Url.Content("~/images/grades.png")" alt="User" class="icons">
                        </div>
                        <div class="contains">
                            <button class="redirct-btn">View my courses</button>
                        </div>

                    </div>
                </div>
                <!--Section of explaining total grade-->
                <div class="option">
                    <picture>
                        <img src="@Url.Content("~/images/smile_logo.png")" alt="User" class="icons">
                    </picture>
                    <div class="option_text">
                        <h2>Grading becomes easy with Grading App.</h2>

                        <h1>89%</h1>
                        <h2>    of the professors answered positively<br /> about the convinience of the app</h2>
                        <h4>Do you have a complain? <br> Email us to:gradingapp@info.gr</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>
    </section>