@{
    ViewData["Title"] = "AssignCourse";

}
@section Styles{
                <link rel="stylesheet" href="~/css/MenuStyle.css" />
                <link rel="stylesheet" href="~/css/AllCoursesStyle.css" />
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<section>
    <!--Section of the side navigation menu-->

    <div class="page">

        <!--Section of the side navigation menu-->
        <div class="sidenav">

            <!--Section of image-->
            <div class="profile_image">
                <picture>
                    <img src="@Url.Content("~/images/secr_symbol.png")" alt="User" class="icons">
                </picture>
            </div>

            <div class="options">
                <a href="#">
                    <img src="@Url.Content("~/images/home.png")" alt="User" class="icons">
                    Homepage
                </a>
                <!--DROPDOWN-->
                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/student_icon.png")" alt="User" class="icons">
                    Student
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-controller="Secretaries" asp-action="Registration" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/register.png")" alt="User" class="icons">Register</a>
                    <a asp-controller="Secretaries" asp-action="AssignCourse" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/assign.png")" alt="User" class="icons">Assign Course</a>
                </div>
                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/teacher.png")" alt="User" class="icons">
                    Teacher
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-controller="Secretaries" asp-action="Registration" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/register.png")" alt="User" class="icons">Register</a>
                    <a asp-controller="Secretaries" asp-action="AssignCourse" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/assign.png")" alt="User" class="icons">Assign Course</a>
                </div>

                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/courses.png")" alt="User" class="icons">
                    Courses
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-controller="Secretaries" asp-action="Registration" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/add_course.png")" alt="User" class="icons">Register</a>
                    <a asp-controller="Secretaries" asp-action="AllCourses" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/grade.png")" alt="User" class="icons">Overview</a>

                </div>

                <a href="#about">
                    <img src="@Url.Content("~/images/user_green.png")" alt="User" class="icons">
                    Profile
                </a>
                <a class="logout" asp-controller="Home" asp-action="Login">
                    <img src="@Url.Content("~/images/logout.png")" alt="User" class="icons">Logout
                </a>
            </div>
        </div>
        <!--END OF MENU-->
    </div>


    <div class="main_content">
        <h2 align="center">Available Courses  </h2>
            <table class="table table-bordered table-stripped" align="right">
                <thead>
                    <tr>
                        <th>
                            Subject
                        </th>
                        <th>
                            Semester
                        </th>
                        <th>
                            Professor
                        </th>
                    <th>
                        Number of Registered students
                    </th>
                    </tr>
                </thead>
                <tbody>
                    
                @foreach (Course c in @ViewBag.Course)
                {
                    int count = 0;
                    @foreach (CourseHasStudents chs in @ViewBag.CourseHasStudents)
                    {
                        
                        @if (c.idCourse == chs.idCourse)
                        {
                            count++;
                        }
                    }
                    <tr>
                            <td>
                                @c.courseTitle
                            </td>
                            <td align="center">
                                @c.courseSemester
                            </td>
                            <td align="center">
                                @c.Professors.surname @c.Professors.name
                            </td>
                            <td align="center">
                                @count
                            </td>
                        </tr>
                    
                }
                </tbody>
            </table>
    </div>
                


    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>

</section>