@model List<GradingApp.Models.Course>
@{
    ViewData["Title"] = "AssignCourse";

}
@section Styles{
            <link rel="stylesheet" href="~/css/MenuStyle.css" />
            <link rel="stylesheet" href="~/css/AssignCourseStyle.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}
<section>
    <!--Section of the side navigation menu-->

    <div class="page">

        <!--Section of the side navigation menu-->
        <div class="sidenav">

            <!--Section of image-->
            <div class="profile_image">
                <picture>
                    <img src="@Url.Content("~/images/secr_symbol.png")" alt="User" class="icons">
                </picture>
            </div>

            <div class="options">
                <a href="#">
                    <img src="@Url.Content("~/images/home.png")" alt="User" class="icons">
                    Homepage
                </a>
                <!--DROPDOWN-->
                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/student_icon.png")" alt="User" class="icons">
                    Student
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-controller="Secretaries" asp-action="Registration" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/register.png")" alt="User" class="icons">Register</a>
                    <a href="#"><img src="@Url.Content("~/images/assign.png")" alt="User" class="icons">Assign Course</a>
                </div>
                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/teacher.png")" alt="User" class="icons">
                    Teacher
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-controller="Secretaries" asp-action="Registration" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/register.png")" alt="User" class="icons">Register</a>
                    <a href="#"><img src="@Url.Content("~/images/assign.png")" alt="User" class="icons">Assign Course</a>
                </div>

                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/courses.png")" alt="User" class="icons">
                    Courses
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-controller="Secretaries" asp-action="Registration" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/add_course.png")" alt="User" class="icons">Register</a>
                    <a asp-controller="Secretaries" asp-action="AllCourses" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/grade.png")" alt="User" class="icons">Overview</a>

                </div>

                <a href="#about">
                    <img src="@Url.Content("~/images/user_green.png")" alt="User" class="icons">
                    Profile
                </a>
                <a class="logout" asp-controller="Home" asp-action="Login">
                    <img src="@Url.Content("~/images/logout.png")" alt="User" class="icons">Logout
                </a>
            </div>
        </div>
        <!--END OF MENU-->



        <div class="main_content">
            <!--LEFT SECTION OF CONTAINER-->
            <div class="left">
                <!--UPPER FORM-->
                <div class="form">
                    <h2>Student Assigning  </h2>
                    <form asp-controller="Secretaries" asp-action="AssignCourse" asp-route-proffesorName="@ViewBag.Username">
                        <h4>Assign a student to one of the courses available!</h4>

                        <!--Ragistration number-->
                        <div class="form-group">
                            <input class="form-control" placeholder="Registration Number of student" />
                            <span class="text-danger"></span> <!--Used if the user has entered wrong details on this input-->
                        </div>
                        <!--Course selection-->
                        <div class="form-group">
                            <select class="list">
                                @foreach (Course c in Model)
                                {
                                    <option value="@Html.DisplayFor(modelItem => c.courseTitle)">
                                        @Html.DisplayFor(modelItem => c.courseTitle)
                                    </option>
                                }

                            </select>
                            <span class="text-danger"></span> <!--Used if the user has entered wrong details on this input-->
                        </div>

                        <input type="submit" value="Add" class="btn btn-primary" />

                    </form>
                </div>

                <!--DOWN FORM-->
                <div class="form">
                    <h2>Professor Assigning  </h2>
                    <form asp-controller="Secretaries" asp-action="AssignProfessor" asp-route-proffesorName="@ViewBag.Username">
                        <h4>Assign a professor to one of the courses available!</h4>

                        <!--Professor selection-->
                        <div class="form-group">
                            <select class="list" name="professor">
                                @foreach (Professors p in ViewBag.Professors)
                                {
                                    @if (p.afm != -1)
                                    {
                                        <option value="@p.afm">
                                            @p.surname @p.name
                                        </option>
                                    }
                                    
                                }
                            </select>
                            <span class="text-danger"></span> <!--Used if the user has entered wrong details on this input-->
                        </div>
                        <!--Course selection-->
                        <div class="form-group">
                            <select class="list" name="course">
                                @foreach (Course c in Model)
                                {
                                    <option value="@c.idCourse">
                                        @Html.DisplayFor(modelItem => c.courseTitle)
                                    </option>
                                }
                            </select>
                            <span class="text-danger"></span> <!--Used if the user has entered wrong details on this input-->
                        </div>

                        <input type="submit" value="Add" class="btn btn-primary" />

                    </form>
                </div>


            </div>

            <!--RIGHT SECTION OF CONTAINER-->
            <div class="right">

                <div class="title">
                    <h1>Only 2 steps away!</h1>
                </div>
                <img src="@Url.Content("~/images/man.png")" alt="User" class="icons">

            </div>
            

        </div>

        </div>
    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>
</section>