@{
    ViewData["Title"] = "Registration";

}

@section Styles{
        <link rel="stylesheet" href="~/css/MenuStyle.css" />
        <link rel="stylesheet" href="~/css/RegistrationStyle.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<section>

    <div class="page">

        <!--Section of the side navigation menu-->
        <div class="sidenav">

            <!--Section of image-->
            <div class="profile_image">
                <picture>
                    <img src="@Url.Content("~/images/secr_symbol.png")" alt="User" class="icons">
                </picture>
            </div>

            <div class="options">
                <a href="#">
                    <img src="@Url.Content("~/images/home.png")" alt="User" class="icons">
                    Homepage
                </a>
                <!--DROPDOWN-->
                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/student_icon.png")" alt="User" class="icons">
                    Student
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="#"><img src="@Url.Content("~/images/register.png")" alt="User" class="icons">Register</a>
                    <a asp-controller ="Secretaries" asp-action="AssignCourse" asp-route-username="@Model.Username"><img src="@Url.Content("~/images/assign.png")" alt="User" class="icons">Assign Course</a>
                </div>

            </div>

            </div>
    </div>
        <script>
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
        </script>
</section>