@{
    ViewData["Title"] = "Registration";

}

@section Styles{
        <link rel="stylesheet" href="~/css/MenuStyle.css" />
        <link rel="stylesheet" href="~/css/RegistrationStyle.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<section>

    <div class="page">

        <!--Section of the side navigation menu-->
        <div class="sidenav">

            <!--Section of image-->
            <div class="profile_image">
                <picture>
                    <img src="@Url.Content("~/images/secr_symbol.png")" alt="User" class="icons">
                </picture>
            </div>

            <div class="options">
                <a href="#">
                    <img src="@Url.Content("~/images/home.png")" alt="User" class="icons">
                    Homepage
                </a>
                <!--DROPDOWN-->
                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/student_icon.png")" alt="User" class="icons">
                    Student
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="#"><img src="@Url.Content("~/images/register.png")" alt="User" class="icons">Register</a>
                    <a asp-controller ="Secretaries" asp-action="AssignCourse" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/assign.png")" alt="User" class="icons">Assign Course</a>
                </div>
                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/teacher.png")" alt="User" class="icons">
                    Teacher
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-controller="Secretaries" asp-action="Registration" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/register.png")" alt="User" class="icons">Register</a>
                    <a asp-controller="Secretaries" asp-action="AssignCourse" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/assign.png")" alt="User" class="icons">Asign Course</a>
                </div>

                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/courses.png")" alt="User" class="icons">
                    Courses
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-controller="Secretaries" asp-action="Registration" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/add_course.png")" alt="User" class="icons">Register</a>
                    <a asp-controller="Secretaries" asp-action="AllCourses" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/grade.png")" alt="User" class="icons">Overview</a>

                </div>

                <a href="#about">
                    <img src="@Url.Content("~/images/user_green.png")" alt="User" class="icons">
                    Profile
                </a>
                <a class="logout" asp-controller="Home" asp-action="Login">
                    <img src="@Url.Content("~/images/logout.png")" alt="User" class="icons">Logout
                </a>
            </div>
        </div>

        <div class="main_content">
            
            <div class="form">
                <h2>Registration Form</h2>
                <form asp-controller="Secretaries" asp-action="Register" asp-route-proffesorName="@ViewBag.Username">
                <h4>Add a new student or professor below:</h4>
                <!--First Name-->
                <div class="form-group">
                        <input class="form-control" placeholder="First Name" />
                    <span  class="text-danger"></span> <!--Used if the user has entered wrong details on this input-->
                </div>
                    <!--Last Name Name-->
                    <div class="form-group">
                        <input class="form-control" placeholder="Last Name" />
                        <span class="text-danger"></span> <!--Used if the user has entered wrong details on this input-->
                    </div>
                    <!--Department-->
                    <div class="form-group">
                        <input class="form-control" placeholder="Department" />
                        <span class="text-danger"></span> <!--Used if the user has entered wrong details on this input-->
                    </div>
                    <!--Username-->
                    <div class="form-group">
                        <input class="form-control" placeholder="Username" />
                        <span class="text-danger"></span> <!--Used if the user has entered wrong details on this input-->
                    </div>
                    <!--Password-->
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" />
                        <span class="text-danger"></span> <!--Used if the user has entered wrong details on this input-->
                    </div>
                    <!--Code-->
                    <div class="form-group">
                        <input class="form-control" placeholder="Type registration number for students and AFM for Professors" />
                        <span class="text-danger"></span> <!--Used if the user has entered wrong details on this input-->
                    </div>
                    <div class="form-group">
                        <div class="selection">
                            <label class="container">
                                Professors
                                <input type="radio" checked="checked" name="radio" class="input">
                                <span class="checkmark"></span>
                            </label>

                        </div>
                        <div class="selection">
                            <label class="container">
                                Student
                                <input type="radio" checked="checked" name="radio" class="input">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                       
                        
                    </div>
                    <input type="submit" value="Add" class="btn btn-primary" />

                </form> 
            </div>
            <!--RIGHT CONTAINER-->
            <div class="right">
                <div class="upper">
                    <img src="@Url.Content("~/images/woman2.png")" alt="User" class="icons">

                </div>
                <div class="form1">

                    <div class="inputs">
                        <h2>Course Registration </h2>
                        <form asp-controller="Secretaries" asp-action="Register" asp-route-proffesorName="@ViewBag.Username">
                            <h4>Add new courses below:</h4>

                            <!--Course ID-->
                            <div class="form-group">
                                <input class="form-control" placeholder="Course ID" />
                                <span class="text-danger"></span> <!--Used if the user has entered wrong details on this input-->
                            </div>
                            <!--Course title-->
                            <div class="form-group">
                                <input class="form-control" placeholder="Course title" />
                                <span class="text-danger"></span> <!--Used if the user has entered wrong details on this input-->
                            </div>
                            <!--Semester-->
                            <div class="form-group">
                                <input class="form-control" placeholder="Semester of course" />
                                <span class="text-danger"></span> <!--Used if the user has entered wrong details on this input-->
                            </div>
                            <!--AFM-->
                            <div class="form-group">
                                <input class="form-control" placeholder="AFM of Professor" />
                                <span class="text-danger"></span> <!--Used if the user has entered wrong details on this input-->
                            </div>

                            <input type="submit" value="Add" class="btn btn-primary" />

                        </form>

                            </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
        <script>
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
        </script>
</section>