@{
    ViewData["Title"] = "SecretaryHomepage";

}
@section Styles{
        <link rel="stylesheet" href="~/css/MenuStyle.css" />
        <link rel="stylesheet" href="~/css/SecretaryHomepageStyle.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}



<section>
    <!--Section of the whole page-->
    <div class="page">

        <!--Section of the side navigation menu-->
        <div class="sidenav">

            <!--Section of image-->
            <div class="profile_image">
                <picture>
                    <img src="@Url.Content("~/images/secr_symbol.png")" alt="User" class="icons">
                </picture>
            </div>

            <!--Section of menu's options-->
            <div class="options">
                <a href="#">
                    <img src="@Url.Content("~/images/home.png")" alt="User" class="icons">
                    Homepage
                </a>
                <!--DROPDOWN-->
                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/student_icon.png")" alt="User" class="icons">
                    Student
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-controller="Secretaries" asp-action="Registration" asp-route-username="@Model.Username"><img src="@Url.Content("~/images/register.png")" alt="User" class="icons">Register</a>
                    <a href="#"><img src="@Url.Content("~/images/assign.png")" alt="User" class="icons">Asign Course</a>
                </div>

                  <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/teacher.png")" alt="User" class="icons">
                    Teacher
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="#"><img src="@Url.Content("~/images/register.png")" alt="User" class="icons">Register</a>
                    <a href="#"><img src="@Url.Content("~/images/assign.png")" alt="User" class="icons">Asign Course</a>
                </div>

                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/courses.png")" alt="User" class="icons">
                    Courses
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="#"><img src="@Url.Content("~/images/add_course.png")" alt="User" class="icons">Register</a>
                    <a href="#"><img src="@Url.Content("~/images/grade.png")" alt="User" class="icons">Overview</a>

                </div>
                
                <a href="#about">
                    <img src="@Url.Content("~/images/user_green.png")" alt="User" class="icons">
                    Profile
                </a>
                <a class="logout" asp-controller="Home" asp-action="Login">
                    <img src="@Url.Content("~/images/logout.png")" alt="User" class="icons">Logout
                </a>
            </div>

        </div>


        <!--Section of homepage's main content-->
        <div class="main_content">
             <div class="upper_container">

                <div class="upper_container_left">
                    <h2 class="title">Control everything easily!</h2>
                    <div class="subtitle">
                        The fastest way to new registrations and assignments to courses!
                    </div>
                </div>
                <div class="upper_container_right">
                    <img src="@Url.Content("~/images/woman.png")" alt="User" class="icons">

                    
                </div>
            </div>
            <div class="down_container">
                <!--Section of card explaining-->
                <div class="option">
                    <picture>
                        <img src="@Url.Content("~/images/student_logo.png")" alt="User" class="icons">
                    </picture>
                    <div class="option_text">
                        <h3>A few steps away from:</h3>
                        <div class="contains">
                            <img src="@Url.Content("~/images/tick.png")" alt="User" class="icons">
                            Registrating a new student
                        </div>
                        <div class="contains">
                            <img src="@Url.Content("~/images/tick.png")" alt="User" class="icons">
                            Assigning students to courses
                        </div>                        
                        <div class="contains">
                            <button class="redirct-btn">New Registration</button>
                        </div>
                        <div class="contains">
                            <button class="redirct-btn">Assign to course</button>
                        </div>
                    </div>
                </div>
                <!--Section of explaining grades per semeseter-->
                <div class="option">
                    <picture>
                        <img src="@Url.Content("~/images/professor_logo.png")" alt="User" class="icons">
                    </picture>
                    <div class="option_text">
                        <h3>You can now perform:</h3>
                        <div class="contains">
                            <img src="@Url.Content("~/images/tick.png")" alt="User" class="icons">
                            Registrations of new professors
                        </div>
                        <div class="contains">
                            <img src="@Url.Content("~/images/tick.png")" alt="User" class="icons">
                            Assignments of professors to courses
                        </div>
                        <div class="contains">
                            <button class="redirct-btn">New Registration</button>
                        </div>
                        <div class="contains">
                            <button class="redirct-btn">Assign to course</button>
                        </div>

                    </div>
                </div>
                <!--Section of explaining total grade-->
                <div class="option">
                    <picture>
                        <img src="@Url.Content("~/images/courses_logo.png")" alt="User" class="icons">
                    </picture>
                    <div class="option_text">
                        <h2>Do you need to</h2>


                        <div class="contains">
                            <button class="redirct-btn">Register a course</button>

                        </div>
                        <h2> or just </h2>

                        <div class="contains">
                            <button class="redirct-btn">View courses</button>

                        </div>
                        <h2>?</h2>

                    </div>
                </div>

            </div>
        </div>
    </div>



    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>
</section>