
@{
    ViewData["Title"] = "StudentHomepage";

}
@section Styles{
    <link rel="stylesheet" href="~/css/StudentMenuStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}


<section>
    <!--Section of the whole page-->
    <div class="page">

        <!--Section of the side navigation menu-->
        <div class="sidenav">

            <!--Section of image-->
            <div class="profile_image">
                <picture>
                    <img src="@Url.Content("~/images/student_symbol.png")" alt="User" class="icons">
                </picture>
            </div>

            <!--Section of menu's options-->
            <div class="options">
                <a href="#about">
                    <img src="@Url.Content("~/images/home.png")" alt="User" class="icons">
                    Homepage</a>
                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/grade.png")" alt="User" class="icons">
                    My Grades
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="#"><img src="@Url.Content("~/images/card.png")" alt="User" class="icons">My Card</a>
                    <a href="#"><img src="@Url.Content("~/images/semester.png")" alt="User" class="icons">Grades per semester</a>
                    <a href="#"><img src="@Url.Content("~/images/sum.png")" alt="User" class="icons">Overview</a>
                </div>
                <a href="#about">
                    <img src="@Url.Content("~/images/user_grey.png")" alt="User" class="icons">
                    Profile
                </a>
                <a class="logout" asp-controller="Home" asp-action="Login">
                    <img src="@Url.Content("~/images/logout.png")" alt="User" class="icons">Logout
                </a>
            </div>
             
        </div>


        <!--Section of homepage's main content-->
        <div class="main_content">
            <div class="upper_container">
                <div class="upper_container_left">
                    <img src="@Url.Content("~/images/boy.png")" alt="User" class="icons">

                </div>
                <div class="upper_container_right">
                    <h2 class="title">Don't strees about your grades!</h2>
                    <div class="subtitle">You can now check your grades, compare your semesters and get 
                        access to your average score!</div>
                </div>
            </div>
            <div class="down_container">
                <div class="option">
                    <picture>
                        <img src="@Url.Content("~/images/card_logo.png")" alt="User" class="icons">
                        <div class="option_text"></div>
                    </picture>
                </div>
                <div class="option">
                    <picture>
                        <img src="@Url.Content("~/images/statistics_logo.png")" alt="User" class="icons">
                    </picture>
                </div>
                <div class="option">
                    <picture>
                        <img src="@Url.Content("~/images/calc_logo.png")" alt="User" class="icons">
                    </picture>
                </div>

            </div>
        </div>
    </div>



    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>





    <!--
    <div class="page">
        
    <div class="navigation_bar">
        <picture>
            <img src="@Url.Content("~/images/student.png")" alt="User" class="icons">

        </picture>
        <div class="menu">
            <div class="menu" id="bmenu">

                <a class="link" href="#">Homepage</a>
                <button class="dropdown">My Grades           <i class="fa fa-caret-down"></i></button>
                <div class="sub-menu">
                    <a class="link" asp-controller="Student" asp-route-username="@Model" asp-action="Upload">My card</a>
                    <a class="link" asp-controller="Student" asp-route-username="@Model" asp-action="ThesisStatus">Per Semester</a>
                    <a class="link" asp-controller="Student" asp-route-username="@Model" asp-action="ThesisStatus">Final Grade</a>

                </div>
                <a class="link" asp-controller="Home" asp-action="Login">Logout</a>
            </div>

        </div>
    </div>
    <div class="content">
        <div class="container">
        </div>
    </div>
    </div>
    -->
 



</section>
