@model List<GradingApp.Models.Students>
@{
    ViewData["Title"] = "Profile";
}
@section Styles{
    <link rel="stylesheet" href="~/css/MenuStyle.css" />
    <link rel="stylesheet" href="~/css/GradesSemesterStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<section>
    <div class="page">
        <!--Section of the side navigation menu-->
        <div class="sidenav">

            <!--Section of image-->
            <div class="profile_image">
                <picture>
                    <img src="@Url.Content("~/images/student_symbol.png")" alt="User" class="icons">
                </picture>
            </div>

            <!--Section of menu's options-->
            <div class="options">
                <a asp-controller="Students" asp-action="StudentHomepage" asp-route-username="@ViewBag.Username">
                    <img src="@Url.Content("~/images/home.png")" alt="User" class="icons">
                    Homepage
                </a>
                <button class="dropdown-btn">
                    <img src="@Url.Content("~/images/grade.png")" alt="User" class="icons">
                    My Grades
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a asp-controller="Students" asp-action="MyCard" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/card.png")" alt="User" class="icons">My Card</a>
                    <a asp-controller="Students" asp-action="GradesSemester" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/history.png")" alt="User" class="icons">Per semester</a>
                    <a asp-controller="Students" asp-action="GradesSubject" asp-route-username="@ViewBag.Username"><img src="@Url.Content("~/images/card.png")" alt="User" class="icons">Overview</a>
                </div>

                <a href="#about">
                    <img src="@Url.Content("~/images/user_green.png")" alt="User" class="icons">
                    Profile
                </a>
                <a class="logout" asp-controller="Home" asp-action="Login">
                    <img src="@Url.Content("~/images/logout.png")" alt="User" class="icons">Logout
                </a>
            </div>

        </div>
        <!--END OF SIDE MENU-->
        <!--MAIN CONTENT-->

        <div class="main_content">
            
            <h2>Hello @ViewBag.Student.name @ViewBag.Student.surname</h2>
            <table>
                <tr>
                    <td>
                        Registration Number
                    </td>
                    <td>
                        @ViewBag.Student.registressionNumber
                    </td>
                </tr>
                <tr>
                    <td>
                        Username
                    </td>
                    <td>
                        @ViewBag.Student.username
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        @ViewBag.Student.Users.password
                    </td>
                </tr>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        @ViewBag.Student.name
                    </td>
                </tr>
                <tr>
                    <td>
                        Surname
                    </td>
                    <td>
                        @ViewBag.Student.surname
                    </td>
                </tr>
                <tr>
                    <td>
                        Department
                    </td>
                    <td>
                        @ViewBag.Student.department
                    </td>
                </tr>
            </table>
        </div>
    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>
</section>



